<p id="notice"><%= notice %></p>

<h1>Listing Visas</h1>

<table>
  <thead>
    <tr>
      <th>Purpose</th>
      <th>Title</th>
      <th>Short desc</th>
      <th>Long desc</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visas.each do |visa| %>
      <tr>
        <td><%= visa.purpose.name %></td>
        <td><%= visa.title %></td>
        <td><%= visa.short_desc %></td>
        <td><%= visa.long_desc %></td>
        <td><%= visa.price %></td>
        <td><%= link_to 'Show', visa %></td>
        <td><%= link_to 'Edit', edit_visa_path(visa) %></td>
        <td><%= link_to 'Destroy', visa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visa', new_visa_path %>
